<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>array</key>
	<array>
		<string>advantage</string>
        <string>advertisement</string>
        <string>advice</string>
        <string>agenda</string>
        <string>apology</string>
        <string>authorization</string>
        <string>bill</string>
        <string>brand</string>
        <string>budget</string>
        <string>commission</string>
        <string>comparison</string>
        <string>competition</string>
        <string>competitor</string>
        <string>confirmation</string>
        <string>costs</string>
        <string>creditor</string>
        <string>customer</string>
        <string>deadline</string>
        <string>debt</string>
        <string>debtor</string>
        <string>decision</string>
        <string>decrease</string>
        <string>deficit</string>
        <string>delivery</string>
        <string>department</string>
        <string>description</string>
        <string>difference</string>
        <string>disadvantage</string>
        <string>distribution</string>
        <string>employee</string>
        <string>employer</string>
        <string>enquiry</string>
        <string>environment</string>
        <string>equipment</string>
        <string>estimate</string>
        <string>experience</string>
        <string>explanation</string>
        <string>facilities</string>
        <string>factory</string>
        <string>feedback</string>
        <string>goal</string>
        <string>goods</string>
        <string>growth</string>
        <string>guarantee</string>
        <string>improvement</string>
        <string>increase</string>
        <string>industry</string>
        <string>instructions</string>
        <string>interest</string>
        <string>inventory</string>
        <string>invoice</string>
        <string>knowledge</string>
        <string>limit</string>
        <string>loss</string>
        <string>margin</string>
        <string>market</string>
        <string>message</string>
        <string>mistake</string>
        <string>objective</string>
        <string>offer</string>
        <string>opinion</string>
        <string>option</string>
        <string>order</string>
        <string>output</string>
        <string>payment</string>
        <string>penalty</string>
        <string>permission</string>
        <string>possibility</string>
        <string>product</string>
        <string>production</string>
        <string>profit</string>
        <string>promotion</string>
        <string>purchase</string>
        <string>reduction</string>
        <string>refund</string>
        <string>reminder</string>
        <string>repairs</string>
        <string>report</string>
        <string>responsibility</string>
        <string>result</string>
        <string>retailer</string>
        <string>rise</string>
        <string>risk</string>
        <string>salary</string>
        <string>sales</string>
        <string>schedule</string>
        <string>share</string>
        <string>signature</string>
        <string>stock</string>
        <string>success</string>
        <string>suggestion</string>
        <string>supply</string>
        <string>support</string>
        <string>target</string>
        <string>transport</string>
        <string>turnover</string>
        <string>wholesaler</string>
	</array>
</dict>
</plist>
